setuptools~=69.5.1
xlsxwriter~=3.1.9
pyperclip~=1.9.0
pyautogui~=0.9.54
pandas~=1.4.4
easygui~=0.98.3
numpy~=1.22.4
requests~=2.32.3
zlib~=1.2.13
beautifulsoup4~=4.12.3
pillow~=10.3.0
pyscreenshot~=3.1
openpyxl~=3.0.9